.register__container{
    background: url(/src/assets/images/register.png);
    background-size: 100% 100%;
    display: flex;
    min-height: 100vh;
}

.register__wrapper{
    margin: auto;
    margin-right: 200px;
    height: fit-content;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.register__wrapper .register__form__box{
    padding: 40px;
}

form h1{
    font-size: 24px;
    text-align: center;
    color: #4CAD95;
    margin: 20px 0px;
}

form h2{
    font-size: 18px;
    text-align: center;
}

form .register__input__box{
    font-size: 16px;
    margin: 12px 0;
}

form .register__input__title{
    font-size: 18px;
}

.register__input__box input{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    outline: none;
    background-color: transparent;
    border: 1px solid #0009;
    border-radius: 10px;
    font-size: 14px;
}

.register__password__input__container {
    position: relative;
}

.register__toggle__password {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}

.register__toggle__password img {
    width: 20px;
    height: 20px;
}

.register__Button{
    margin: 10px 150px;
    padding: 20px 40px;
    padding-top: 20px;
    background-color: #4CAD95;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer; 
    transition: all 0.8s;
}

.register__Button:hover{
    background-color: #296F5D;
}

p.register__error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 0;
    border-radius: 10px;
    min-height: 16px;
    padding: 0 10px;
    width: 100%;
}

p.register__error-message.hidden {
    display: none;
}

form .login__link{
    font-size: 14px;
    text-align: center;
    padding: 20px;
}

.login__link p{
    color: #000;
}

.login__link p a{
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.login__link p a:hover{
    text-decoration: underline;
}
