body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #282828;
}
/* HEADER */

header{
    background-color: #4CAD95;
    height: 100px;
    display: flex;
}

.header{
    margin: auto;
    display: flex;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 6px 20px;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
}

.nav__ul{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.nav__item{
    list-style: none;
    margin: 0 60px;
}

.nav__ul-container{
    flex-grow: 4;
}

.nav__logo-container, .nav__ul-container{
    flex-grow: 1;
    text-align: center;
}

.nav__link{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 0;
    transition: background-color 0.3s, border-radius 0.24s;
    margin: 2px;
}

.nav__link:hover{
    background-color: #4C8C95;
    border-radius: 20px;
    outline-offset: -7px;
}

.nav__logo{
    margin-top: 20px;
    margin-left: -450px;
}

.nav__logo:hover{
    cursor: pointer;
}

/* MAIN */

main{
    padding: 40px 0;
}

h1{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.themes__main{
    margin: 10px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.theme__container{
    height: 100px;
    width: 340px;
    margin: 40px 70px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    display: flex;
}

.theme__color{
    margin: 20px;
    height: 60%;
    width: 10px;
}

.themes__title{
    width: 300px;
    margin: 40px 0;
}

.theme__container:hover{
    cursor: pointer;
    background-color: #C3C3C3;
}

.LevelContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 900px;
}

.LevelContent h1{
    color: #000;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}

.LevelContent .levelsContainer{
    display: flex;
}

.LevelContent .level{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.level .level__image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #c3c3c3;
    background-position: center;
    background-repeat: no-repeat;
}

.level .level__image:hover{
    background-color: #aaa;
    cursor: pointer;
}

.level .level__image.basic{
    background-image: url(/src/assets/images/tortuga.png);
}

.level .level__image.medium{
    background-image: url(/src/assets/images/ardilla.png);
}

.level .level__image.advanced{
    background-image: url(/src/assets/images/triceratops.png);
}

.level .level__title{
    margin-top: 30px;
    justify-content: center;
}

/* FOOTER */

footer{
    height: 400px;
    background-color: #4CAD95;
}
.footer__container{
    display: flex;
    justify-content: center;
}

.footer__logo{
    margin-top: 70px;
}

.footer__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 380px;
    padding: 50px 0;
}

.footer__list ul li{
    list-style: none;
    margin: 10px;
    color: #fff;
}

.footer__list ul li:hover{
    font-weight: bold;
    cursor: pointer;
}

.social__media-container{
    /* justify-content: end; */
    display: flex;
    padding: 60px 50px;
}

.social__media-icon{
    margin: 20px;
    height: 60px;
    width: 60px;
    background-color: #21433B;
    border-radius: 100%;
}

.social__media-icon:hover{
    background-color: #296F5D;
    cursor: pointer;
}

.social__media-image{
    padding: 17px;
}