.home_content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.buttonContainer{
    height: 40px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.buttonContainer Button{
    background-color: #0066dd;
    display: block;
    padding: 10px 30px;
    border-radius: 100px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.buttonContainer Button:hover{
    background-color: #0066ff;
}

.Contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 900px;
}

.Contenido h1{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
}

.Contenido .img{
    height: 400px;
    width: 100%;
    background-image: url(/src/assets/images/estructura_examen_unmsm.png);
    background-size: cover;
    background-position: center;
}