body{
    margin: 0;
    padding: 0;
}

p{
    color: #000;
}

main{
    padding: 0 200px;
}

.Content{
    justify-content: center;
    display: flex;
    padding: 100px;
}

.Content__Text{
    margin: auto 150px;
    width: 400px;
    text-align: justify;
}

.Content__Text h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #296F5D;
}

.Content__Text p{
    font-size: 16px;
}

.Content__image{
    width: 460px;
    height: 400px;
    background-image: url(/src/assets/images/Group_360.png);
    background-size: cover;
    background-position: center;
}

.Areas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Areas__container{
    background-color: #90CDBE;
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
}

.Area__title{
    display: flex;
    justify-content: center;
    height: 30px;
    padding: 10px 30px;
    margin: 20px 0;
    color: #296F5D;
}

.Area__title .Area__Letter{
    font-weight: bold;
    text-transform: uppercase;
}


.Area__Careers{
    margin: 0px 50px;
    color: #000;
}

.Area__Careers ul li{
    margin: 10px 0px;
    font-size: 16px;
}
