.faq_screen {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq_title {
    padding: 2rem;
    display: flex;
    font-weight: bold;
    font-size: x-large;
}

.faq_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq_tile {
    background-color: #90CDBE;
    color: #fff;
    width: 50rem;
    padding: 0.8rem;
    border-radius: 1rem;
    margin: 2rem;
}

.faq_tile:hover {
    cursor: pointer;
}

.faq_tile_collapse {
    margin: 1rem;
}

.faq_tile_expanded {
    margin: 1rem;
}

.hidden {
    display: none;
}

